@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/jquery-datatable/datatables.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-datatable/dataTables.bootstrap.min.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/jquery-datatable/datatables.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-datatable/dataTables.bootstrap.min.css" asp-append-version="true" />
    </environment>
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/ArticleCategory/Index.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-datatable/datatables.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-datatable/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery-datatable/datatables.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-datatable/dataTables.bootstrap.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>@L("ArticleCategory")</h2>
            </div>
            <div class="body">
                <form id="articleCategoryForm" action="@Url.Action("GetDatas","ArticleCategory")">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="请输入分类名字" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="请输入分类简介" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-offset-10">
                            <a class="btn btn-sm btn-primary" id="btnSearch" data-loading-text="查询中……">查询</a>&nbsp;&nbsp;
                            <a class="btn btn-sm btn-primary" id="btnCreate">新增</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>查询结果</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="resultTable">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>分类名字</th>
                                <th>分类简介</th>
                                <th>创建时间</th>
                                <th>修改时间</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
